* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../multimedia/image.png');
  max-width: 100%;
}

.imagen-producto {
  width: 200px;
  height: 250px;
  object-fit: cover;
}
.producto {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  width: 250px;
  text-align: center;
  padding-top: 15px;
}
.producto2 {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 400px; 
  height: 400px;
}
.nombreproducto{
  font-size: 20px;
  font-family: 'Gilda Display', serif;
}
.nombreproducto2{
  font-size: 30px;
  font-family: 'Gilda Display', serif;
}
.precio{
  font-family: 'Gilda Display', serif;
  font-size: 15px;
}

.boton-carrito {
  background-color: #2b2b2b;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  font-family: 'Gilda Display', serif;
  width: 170px; 
  text-decoration: none;
  
}
.src {
  width: 200px;
  height: 100px;
  padding: 10px;
}

.produ {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
}
